@import url(status.css);
@import url(sidebar.css);


html, body {
    height: 100%;
    overflow: hidden; /* Prevent scrolling */
}

.container {
    height: 100vh; /* Fill the whole screen height */
    overflow-y: auto; /* Optional: make inner area scrollable instead */
}

/* scrollbar part */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}